@media only screen and (min-width: 1201px) {
  .poem {
  	position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    top: 10%;
    font-size: 2vw;
  }
  .poem .Name{
  	/*padding-left: 30%;*/
  }
  .poem .Author{
  	/*padding-left: 40%;*/
  }
  .poem .Content{
  	/*padding-left: 20%;*/
  	white-space: pre-wrap;
  }
  #shakep{
    color: red;
    font-size: 2vw;
  }
}
@media only screen and (max-width: 1200px) {
  .poem {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    top: 10%;
    font-size: 5vw;
  }
  .poem .Name{
  	/*padding-left: 30%;*/
  }
  .poem .Author{
  	/*padding-left: 50%;*/
  }
  .poem .Content{
  	/*padding-left: 10%;*/
  	white-space: pre-wrap;"
  }
  #shakep{
    color: blue;
    font-size: 5vw;
  }
}
